@font-face {
  font-family: 'Roboto';
  src:  url('fonts/Roboto-Regular.ttf');
  src:  url('fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Kaushan Script';
  src:  url('fonts/KaushanScript-Regular.ttf');
}
@font-face {
  font-family: 'Libre Caslon Text', serif;';
  src:  url('fonts/LibreCaslonText-Regular.ttf');
}
html {
  scroll-behavior: smooth;
}
body{
  margin:0;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-size:1rem;
  font-weight:normal;
  line-height:1.5;
  color:#333;
  overflow-x:hidden;
}
nav {
  position: absolute;
  top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 50px;
  width: 100%;
  z-index: 1500;
  position: fixed;
  transition: all 600ms ease-in-out;
}
nav.scrolled-nav {
	background-color: #222;
	opacity: 0.9;
	border-bottom: 1px solid #fff;
}
nav ul {
  display: inline-block;
}
#logoWide {
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  margin-left: 7%;
}
#logoWide a {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
  font-size: 25px;
  color: #fff;
}
#logoWide #logo-img {
  display: inline-block;
}
#logoWide #logo-txt {
  display: inline-block;
  position: relative;
  top: -17px;
  left: 10px;
}
ul {
  text-align: right;
  width: 70%;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;
  -o-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
}

ul li a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 400ms linear;
  -moz-transition: color 400ms linear;
  -o-transition: color 400ms linear;
  transition: color 400ms linear;
}
ul li a:hover {
	/*color: #225470; videcu vec sta cu  */
}
nav ul li.return a {
  color: #FBA92E; 
}
#shrinked {
  height: 55px;
}
.toggle {
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 600ms, visibility 600ms;
            transition: opacity 600ms, visibility 600ms;
}
.toggle i {
  float:right;
  padding: 13px 12px;
  cursor: pointer;
  color: #fff;
}

.toggle a {
  margin-left: 5%;
}

@media (max-width:1050px) {
  .toggle {
    display: block;
    visibility: visible;
    opacity: 1;
    animation: fade 1s;
  }

  #logoWide {
	display: none;
  }
ul {
  position: absolute;
    right: 0;
    background: #333;
    padding: 0;
    width: 65%;
    transform-origin: right;
    transform: translateX(100%);
    transition: 0.5s;

  }
  ul li {
    display: block;
    text-align: center;
    border: 1px solid #fff;
    z-index: 25;
  } 
  ul li a {
    display: block;
    color: #fff;
    z-index: 30;
  }
  .active1 {
    transform: translateX(0%);
  }
  .active2 {
    overflow: visible;
    -webkit-transition: visibility 600ms;
            transition: visibility 600ms;
  }
}
.overlaid {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.75); /* Black background with opacity */
  z-index: 50; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.overlay-appear {
	display: block;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.v-header{
  height:100vh;
  display:flex;
  align-items:center;
  color:#fff;
}
.container{
  max-width:1200px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
}
/**/
.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
}

.fullscreen-video-wrap > video {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
@media screen and (max-aspect-ratio: 1920/1080) {
  .fullscreen-video-wrap > video {
    height: 100%;
  }
}
@media screen and (min-aspect-ratio: 1920/1080) {
  .fullscreen-video-wrap > video {
    width: 100%;
  }
}
.header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:1;
  background:#225470;
  opacity:0.7;
}

.header-content{
  margin: 0 auto;
  z-index:2;
}

.header-content h1{
  font-size:60px;
  font-family: 'Kaushan Script', cursive;
}
.header-content h4 {
  font-family: 'Merriweather', serif;
}
.header-content h3{
  font-size:1.5rem;
  display:block;
}
.header-content h5{
  font-size:1.3rem;
  display:block;
}

.btn{
  background: #34b3a0;
  color:#fff;
  font-size:1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
}
.img-holder, .txt-holder {
  display: inline-block;
  width: 500px;
}
.img-holder img {
  border: 2px solid #777;
  border-radius: 3px;
}
.txt-holder {
  padding: 0 5%;
}
.txt-holder p {
  margin-bottom: 2rem;
}
section h2 {
  font-size: 42px;
  padding: 5% 5% 1% 0;
  margin: 0 3%;
  border-bottom: 3px solid;
}
button.go-back {
  background-color: transparent;
  color: #ddd;
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  border: none;
  cursor: pointer;
  transition: color 400ms ease-in-out;
}
button.go-back:hover {
  color:#74D5DD;
  text-decoration: underline;
}
.about-wrap {
  padding-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#about .btn {
	background-color: #398AD7;
}
.section{
  padding:20px 0;
  min-height: 100vh;
}

.section-b{
  background:#333;
  color:#fff;
}
.card-holder {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 1.5rem;
}
.card-holder i {
  margin: 2rem 0;
  font-size: 280px;
  transition: all 500ms ease-in-out;
}
.card-holder i:hover {
  cursor: pointer;
  color: #fff;
  transform: scale(1.2);
}
.big-card {
	position: relative;
  background-color: #111;
	height: 450px;
	width: 500px;
	border: 3px solid #ddd;
	border-radius: 3px;
	margin-bottom: 1rem;
}
.card-holder h4 {
	margin: 0;
	font-size: 32px;
}
#hot span {
	position: absolute;
	padding: 5px;
	background-color: #FFD800;
	color: #333;
	font-weight: 700;
	border-radius: 4px;
	line-height: 1;
}
.big-card .date {
	top: 3%;
	left: 3%;
}
.big-card .location {
	top: 3%;
	right: 3%;
}
.small-card-holder {
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.small-card {
	position: relative;
  background-color: #111;
  width: 500px;
  height: 210px;
  border: 3px solid #ddd;
  border-radius: 3px;
  margin-bottom: 1rem;
  display: flex;
}
#hot .small-card span {
	font-size: 12px;
	font-weight: normal;
}
.small-card .date {
	top: 2%;
	left: 2%;
}
.small-card .location {
	bottom: 2%;
	left: 2%
}
.small-card-img {
  display: inline-block;
  height: 100%;
  width: 165px;
  object-fit: cover;
  border-right: 1px solid #ddd;
}
.small-card-txt {
  display: inline-block;
  padding: 0 10px;
}
#members .small-card-txt {
  min-width: 215px;
}
.card {
  display: inline-block;
  height: 400px;
  width: 310px;
  background-color: #fff;
  border: 3px solid #333;
  border-radius: 3px;
  margin-bottom: 1rem;
}
.card:hover h4 {
  text-decoration: underline;
}
#timetable {
  background-color: #d7d7d7;
}
.card-img-top {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}
.card h4 {
  margin: 3px 0;
}
a .card {
  color: #333;
}
#gallery {
  background-color: #225470;
  min-height: 50vh;
}
#gallery a {
  text-decoration: none;
  letter-spacing: 2px;
  color: #ddd;
}
#gallery a p {
  text-align: center;
  margin: 0;
}
.card-holder a {
  text-align: center;
}
#hot .card-holder a {
  text-decoration: none;
  color: #ddd;
}
.noimg {
  display: normal;
}
.narrow {
  width: 130px;
}
#gallery a:hover {
  text-decoration: underline;
  color: #fff;
}
.grid-box{
  margin: 2rem 1rem;
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  grid-auto-rows:320px;
  grid-gap:1em;
  justify-items:stretch;
  align-items:stretch;
 }
 .box {
 	position: relative;
 	background-color: #000;
 	border: 3px solid #ddd;
 	border-radius: 2px;
 	overflow: hidden;
}
.box .img-bkg {
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #333;
}
    .box::before, .box::after {
    content: '';
    position: absolute;
    top: 1.25em;
    bottom: 1.25em;
    left: 1.25em;
    right: 1.25em;
    opacity: 1;
    transition: transform ease-out 250ms;
  }
  
  .box::before {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transform: scale(0,1);
  }
  
  .box::after {
    border-left: 1px solid white;
    border-right: 1px solid white;
    transform: scale(1,0);
  }
  
  .box:hover::before {
    transform: scale(1.05, 1);
  }
  
  .box:hover::after {
    transform: scale(1, 1.05);
  }
.box:hover .img-bkg {
  opacity: 0.4;
}

.gallery-text {
  margin: 5rem 2rem 0 2rem;
  color: #fff;
  font-size: 1.5em;
  opacity: 0;
  transition: opacity ease-out 250ms;
}

.box:hover .gallery-text {
  opacity: 1;
}
    /*
    div.box::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(25,65,155, 0.3);
      z-index: 10;
    } */
    .box1{
      /*align-self:start;*/
      
      grid-column:1/2;
      grid-row:1/2;
    }
    .bkg1 {
      background: url('img/gallery/gallery-img.JPG') center;
    }
    .box2{
      /*align-self:end;*/
      grid-column:2/4;
      grid-row:1/2;
    }
    .bkg2 {
      background: url('img/gallery/gallery-img2.jpeg') bottom center;
    }
    .box3{
      /*justify-self:end;*/
      grid-column:1/3;
      grid-row:2;
    }
    .bkg3 {
      background: url('img/gallery/gallery-img3.jpeg') top center;
    }
    .box4{
      grid-column:3/4;
      grid-row:2/4;
    }
    .bkg4 {
      background: url('img/gallery/gallery-img4.jpeg') center;
    }
    .box5{
      grid-column:1;
      grid-row:3;
    }
    .bkg5 {
      background: url('img/gallery/gallery-img5.JPG') center;
    }
    .box6{
      grid-column:2;
      grid-row:3;
    }
    .bkg6 {
      background: url('img/gallery/gallery-img6.JPG') center bottom;
    }
@media(max-width:960px){
  .big-card, .small-card {
    width: 310px;
  }
  .under-txt {
    display: none;
  }
  .grid-box{
  grid-template-columns:repeat(2, 1fr);
  grid-auto-rows:300px;
  }
  .box1{
  /*align-self:start;*/
  grid-column:1;
  grid-row:1;
  }
  .box2{
  /*align-self:end;*/
  grid-column:2;
  grid-row:1;
  }
  .box3{
  /*justify-self:end;*/
  grid-column:1;
  grid-row:2;
  }
  .box4{
  grid-column:2;
  grid-row:2;
  }
  .bkg4 {
  background: url('img/gallery/gallery-img4-alt.jpeg') top center;
  }
  .box5{
  grid-column:1;
  grid-row:3;
  }
  .box6{
  grid-column:2;
  grid-row:3;
  }
}
@media(max-width:600px) {
  .bio-head .memb-pic {
    width: 90%;
    height: auto;
  }
  .memb-pic-holder {
  	margin: 1rem auto;
  }
  .grid-box {
    display: flex;
    flex-direction: column;
  }
  .box {
    margin-top: 1rem;
    width: 100%;
    height: 300px;
  }
}

#blog a {
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  color: #444;
}
#blog a:hover {
  text-decoration: underline;
  color: #000;
}
/*  ----testemonials end---  */
.friends {
	text-align: center;
	padding: 10px 20px;
  font-family: 'Kaushan Script';
}
.friends .ribbon {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.friends a {
	padding: 15px;
}
#contact {
  padding-bottom: 0;
  min-height: 0;
	background-color: #444;
	color: #ddd;
}
.contact-grid a {
  color: #398AD7;
  text-decoration: none;
}
.contact-grid {
	margin: 2rem 1rem;
	display:grid;
	grid-template-columns:repeat(3, 1fr);
	grid-auto-rows:auto;
	grid-gap:1em;
	justify-items:stretch;
	align-items:stretch;
}
.contact-col {
	grid-column: 1;
	grid-row: 1;
}
.contact-col2 {
	grid-column: 2;
	grid-row: 1;
  font-family: 'Kaushan Script';
  color: #fff;
}
.contact-col2 h1 {
  margin: 20px 0 0 0;
  font-size: 2em;
}
.contact-col2 p {
  margin: 0;
}
.contact-col3 {
	grid-column: 3;
	grid-row: 1;
}
.icon-holder i {
	font-size: 2rem;
	color: #398AD7;
	padding: 0 0.5rem;
	transition: color 500ms ease-out;
}
.icon-holder i:hover, #bottom-line a:hover, .contact-grid a:hover {
	color: #74D5DD;
}
#bottom-line {
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	text-align: center;
  color: #ddd;
	background-color: #555555;
	width: 100%;
}
#bottom-line a {
	color: #ddd;
}
#contact #bottom-line a {
  color: #398AD7;
}
@media (max-width: 780px) {
	.contact-grid {
	grid-template-columns:repeat(1, 1fr);
	}
	.contact-col {
	grid-column: 1;
	grid-row: 1;
	}
	.contact-col2 {
	display: none;
	}
	.contact-col3 {
	grid-column: 1;
	grid-row: 2;
	}
}

/*  чланови */
#about-us {
	padding-top: 3rem;
}
#founders .card {
	display: inline-block;
	margin: 1rem;
	width: 200px;
	height: 450px;
	border: none;
}
#founders .card-img-top {
    width: 100%;
    height: 45%;
    object-fit: cover;
    border: 2px solid #333;
    border-radius: 50%;
}
/*
#founders p {
	position: relative;
}
#founders p:before {
  position: absolute;
  top: -40px;
  left: -40px;
  font-size: 50px;
  color: rgba(0,0,0, 0.1);
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f10d";
}	*/
#founders a {
  color: #333;
  text-decoration: none;
}
#founders .card:hover h4 {
  text-decoration: underline;
}
/* about slide style */

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  padding: 35px;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}
.buttons button#next {
  position: absolute;
  top: 40%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 40%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 300px;
    padding: 15px;
  }

  .slide.current .content {
    transform: translateY(-400px);
  }
}
/* Backgorund Images */
.slide:first-child {
  background: url('img/slider/1.jpeg') no-repeat
    center/cover;
}
.slide:nth-child(2) {
  background: url('img/slider/2.JPG') no-repeat
    center/cover;
}
.slide:nth-child(3) {
  background: url('img/slider/3.jpeg') no-repeat
    center top/cover;
}
.slide:nth-child(4) {
  background: url('img/slider/4.jpeg') no-repeat
    center/cover;
}
.slide:nth-child(5) {
  background: url('img/slider/5.JPG') no-repeat
    center top/cover;
} 
.slide:nth-child(6)  {
  background: url('img/slider/6.JPG') no-repeat
    center center/cover;
}
.slide:nth-child(7)  {
  background: url('img/slider/7.jpg') no-repeat
    center center/cover;
}
.slide:nth-child(8)  {
  background: url('img/slider/8.jpg') no-repeat
    center center/cover;
}
.slide:nth-child(9)  {
  background: url('img/slider/9.jpg') no-repeat
    center center/cover;
}
.slide:nth-child(10)  {
  background: url('img/slider/10.jpg') no-repeat
    center center/cover;
}

/*about-us   */
#about-us h4 {
  font-size: 32px;
  padding-top: 0;
  margin-top: 0;
}
@media (max-width: 1158px) {
  .img-holder, .txt-holder {
  display: block;
  width: 100%;
  padding: 0 5%;
  }
  #about-us .img-holder {
  order: 1;
  }
}
#members {
  background-color: #225470;
  color: #fff;
}
#members .container {
  padding-top: 15px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#members a {
  text-decoration: none;
}
#members .small-card-txt {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#members .small-card-txt h3{
  color: #fff;
  font-size: 1.5em;
  margin: 0;
  border-top: 3px solid #ddd;
}
.member-card:hover h3 {
  text-decoration: underline;
  color: #333;
}
#members .small-card-txt p {
  margin: 0.2em;
  color: #ddd;
  line-height: 1;
  font-size: 11px;
  padding-bottom: 3px;
  border-bottom: 3px solid #ddd;
}
.member-card  {
  height: 80px;
  width: 320px;
  display: flex;
  margin-bottom: 2rem;
}
.member-pic {
  display: inline-block;
  height: 100%;
  border: 2px solid #ddd;
  border-radius: 50%;
}
.bio {
  padding-top: 10rem;
  padding-bottom: 3rem;
}
.bio .container .bio-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.bio h1 {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 2.5em;
  letter-spacing: 3px;
}
.bio h3, .bio h4 {
  margin-bottom: 0;
}
.memb-pic {
	position: relative;
  	display: inline-block;
  	height: 400px;
  	border-radius: 3px;
  	z-index: 2;
}
.memb-pic-holder {
  position: relative;
  line-height: 0;
}
.memb-pic-holder::before, .memb-pic-holder::after {
  position: absolute;
  top: -18px;
  bottom: -18px;
  left: -18px;
  right: -18px;
  content: '';
  background-color: #FBA92E;
  z-index: 0;
}
.memb-pic-holder::before {
  -webkit-clip-path: polygon(50% 0, 50% 50%,100% 50% ,100% 0%);
  clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0% 100%);
}
.memb-pic-holder::after {  
  -webkit-clip-path: polygon(50% 0, 50% 50%,100% 50% ,100% 0%);
  clip-path: polygon(50% 0, 50% 50%,100% 50% ,100% 0%);
}
.bio-text {
  width: 50%;
  vertical-align: top;
  padding: 0;
}
@media (max-width: 850px) {
  .bio {
    padding-top: 5rem;
  }
  .bio-text {
  width: 90%;
  }
  .memb-pic-holder::before, .memb-pic-holder::after {
  top: -12px;
  bottom: -12px;
  left: -12px;
  right: -12px;
  }
  .bio-content .rew-moto {
    width: 320px;
  }
}
.bio-text, .bio-text h4 {
  display: inline-block;
}
.bio-content {
  width: 90%;
  text-align: left;
  display: block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.rew-moto {
  display: inline-block;
  width: 500px;
}
.roles {
  display: inline-block;
  position: relative;
  width: 250px;
}
.roles::before {
  position: absolute;
  top: 50px;
  right: 0;
  font-size: 180px;
  color: rgba(0,0,0,0.1);
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f630";
}
.rewards::before {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 200px;
  color: rgba(0,0,0,0.1);
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f5a2";
}
.text-count {
  border-left: 4px solid rgba(0,0,0, 0.3);
  padding-left: 10px;
}
.roles h3, .rew-moto h3 {
  font-size: 2em;
  font-family: 'Kaushan Script', cursive;
}
.rewards {
  display: inline-block;
  position: relative;
}
.moto {
  display: inline-block;
}
.moto h2 {
  margin: 1em 0 0 0;
  text-transform: uppercase;
}
.blockquote {
  margin: 0;
  padding: 10px 20px 10px;
  position: relative;
}
.blockquote p {
    font-family: 'Merriweather', serif;
    font-size: 35px;
    text-align: center;
}
.blockquote:before {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  color: rgba(255,255,255, 0.1);
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f10d";
}
#about-novak {
  padding-top: 40px;
  background-color: #225470;
  color: #ddd;
  min-height: 50vh;
}
#about-novak .card-holder {
  width: 100
  background-color: #ddd;
}
.pics {
  padding: 10px 0;
  background-color: #ddd;
}
.pics .memb-pic {
  border: 2px solid #333;
  margin-bottom: 25px;
}
#gallery .memb-pic {
  border: 2px solid #ddd;
}
@media (max-width: 785px) {
  .pics .memb-pic {
    max-width: 85%;
    height: auto;
  }
}
/* blog */
.section-blog {
  min-height: 30rem;
  background-color: #ddd;
}
.section-blog  .card-holder {
  margin-bottom: 0;
}
.section-blog .container {
  text-align: left;
}
.section-blog a {
  text-decoration: none;
}
.blg-crd {
  width: 500px;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}
.blg-crd .small-card-txt {
  padding: 20px;
}
.blg-crd .small-card-txt h4 {
  font-size: 2.25rem;
}
.blg-crd .small-card-txt h5 {
  font-size: 1.5rem;
  text-align: right;
}
.blg-crd:hover h4 {
  text-decoration: underline;
}
@media (max-width: 565px) {
  .blg-crd {
  width: 300px;
  }
  .blg-crd .small-card-txt h4 {
  font-size: 1.2rem;
  }
  .blg-crd .small-card-txt h5 {
  font-size: 1rem;
  text-align: right;
  }
}
/*article pages*/
.section-art {
  padding-top: 2.5rem;
  background-color: #225470;
  color: #ddd;
}
.artcl {
  display: flex;
  font-family: 'Libre Caslon Text', serif;
}
@media (min-width: 850px) {
  .article h3, .article {
    font-size: 1.25em;
  }
}
.article {
  display: inline-block;
  margin: 2%;
  padding: 5%;
  background-color: #fff;
  color: #000;
  text-align: left;
  width: 60%;
}
.article h3 {
  font-size: 32px;
  margin-top: 0;
}
.article .auth {
  margin-right: 10px;
}
.ending {
  text-align: left;
  margin: 2% 0 0 3%;
  padding-bottom: 2%;
}
.ending a {
  color: #fff;
}
.art-side-img {
  display: inline-block;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 25%;
  line-height: 0;
}
.art-side-img a img {
  margin-top: 0.75rem;
}
.art-side-img a .asi1 {
  margin-top: 0;
}
.section-rep {
  background-color: #225470;
  color: #ddd;
}
.topimg {
  height: 60vh;
  background: url(img/repertoire/dtk.jpg) no-repeat center center;
  background-size: cover;
}
.topimg-2 {
  height: 60vh;
  background: url(img/repertoire/ks4.jpg) no-repeat center top;
  background-size: cover;
}
.topimg-kaca {
  height: 110vh;
  background: url(img/hot/intervju-kaca/11.jpg) no-repeat center top;
  background-size: cover;
}
.topimg-kaca div {
  padding-top: 30vh;
  padding-left: 5%;
  font-family: 'Kaushan Script';
  font-size: 1.25em;
}
.interview {
  padding-top: 0;
}
.additional, .additional2 {
  display: none;
}
.iconcredit {
  font-size: 0.7em;
}
@media (max-width: 768px) {
  .additional {
    display: inline-block;
  }
  .md-vis {
    display: none;
  }
  .section h2 {
    padding-top: 36px;
  }
  .article h3 {
    margin-bottom: 0;
  }
  .article .auth {
    display: block;
    line-height: 30px;
  }
  .art-side-img {
    width: 24%;
  }
  .artBlog {
  width: 90%;
  }
  .imgBlog {
    display: none;
  }
  .artcl {
    padding: 0;
  }
  .topimg {
  height: 60vh;
  background: url(img/repertoire/dtk-small.jpg) no-repeat center top;
  background-size: cover;
  }
  .topimg-kaca {
  height: 70vh;
  background: url(img/hot/intervju-kaca/1.jpg) no-repeat center top;
  background-size: cover;
  }
  .topimg-kaca div {
  display: none;
  }
}
/*  testemnials  */  
.sldwrp {
  position: relative;
  border-bottom: 5px solid #333;
  border-top: 5px solid #333;
}
.sldr {
  min-height: 25rem;
  position: relative;
  margin: 0;
  line-height: 1.6;
  background: url(img/testemonials-bkg5.jpeg) no-repeat center center fixed;
  padding: 10px 150px;
}
.sld {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.sld.curr {
  opacity: 1;
}
.sld .cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
}

.sld .cont h2 {
  margin-bottom: 10px;
  text-align: right;
}
.sld.curr .cont {
  opacity: 1;
  transition: all 0.7s ease-in-out 0.3s;
}
.cont p:before {
  content: "„";
}
.cont p:after {
  content: "”";
}
.butt button#nex {
  position: absolute;
  top: 40%;
  right: 15px;
}
.butt button#pre {
  position: absolute;
  top: 40%;
  left: 15px;
}
.butt button {
  background-color: transparent;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  outline: none;
}

.butt button:hover {
  background-color: #fff;
  color: #333;
}
.special {
  padding-left: 25px;
  border-left: 3px solid #ddd;
}
.takeme {
  text-decoration: none;
  color: #ddd;
}
.takeme:hover {
  text-decoration: underline;
}
@media (max-width: 850px) {
  .sldr {
  min-height: 30rem;
  }
  .sld .cont {
    padding-left: 40px;
    padding-right: 40px;
  }
  .butt button {
    font-size: 1em;
    padding: 5px;
    color: #333;
  }
  .sld .cont {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .additional2 {
  display: inline-block;
}
  .card-holder i {
  font-size: 220px;
  }
  .butt button#nex {
  right: 5px;
  }
  .butt button#pre {
    left: 5px;
  }
}