.right {
  font-family: 'Kaushan Script';
	text-align: right;
}
h5.right {
	margin-top: 2em;
	padding-right: 4em;
}
@media (max-width: 768px) {
	.topimg-kaca {
    height: 50vh;
	} 
}
.ti-tate {
  background: url(../img/hot/tate/1.jpg) no-repeat center center;
  background-size: cover;

}
@media (max-width: 500px) {
  .ti-tate {
  background: url(../img/hot/tate/11.jpg) no-repeat center center;
}
}